@use '../util' as u;

h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1.1;
}


h1 {
    font-size: 1.5rem;
    font-weight: 700;
}


p {
    margin-top: 0;
    font-size: u.rem(14);
}


a {
    font-family: u.$font;
    font-size: u.rem(12);
    font-weight: 600;
}